NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

# Neon Database URL
NEON_DATABASE_URL=postgres://user:password@endpoint.neon.tech/neondb?sslmode=require

# OpenAI API Key (Para Vercel AI SDK y el recomendador/pgvector)
OPENAI_API_KEY=sk-proj-...
